/* layout */
.st-emotion-cache-1y4p8pa {
    width: 80%;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 2.5rem;
    background-color: #c8c8c8;
    min-width: 800px;
    max-width: initial;
}
/* header and footer*/
[tabindex="-1"][data-testid="stHeader"]{
    /* background-color:#DD0065; */
    opacity: 1;
    height: 2.5rem;
    visibility: hidden;
}
header{visibility: hidden;}
footer{visibility: hidden;}
#MainMenu {visibility: hidden;}

/* sidebar width */
[data-testid="stSidebar"][aria-expanded="true"]{
    min-width: 350px; max-width: 350px;}

/* expander style */
[data-testid="stExpander"]{
    background-color: #dfdfdf;
    border-radius: 0.5rem;
}
.st-emotion-cache-p5msec {
    background-color: #DD0065;
    color: white;
    height: 2.25rem;
    border-radius: 0.25rem;
}
[data-testid="stExpanderDetails"]{
    padding: 0.5rem;
    border: 1px solid #DD0065;
    border-radius: 0.25rem;
}

/* header and paragraphs */
h1, h2 {
    padding: 2px; margin: 2px;
    font-size: 1.8rem;
    font-family: 'Times New Roman', Times, serif;
    /* color: yellow; */
}
h3, h4 {
    padding: 2px; margin: 2px;
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    /* color: yellow; */
}
p {
    padding: 2px;
    margin: 2px;
    padding-top: 1px;
    margin-top: 1px;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    /* color: yellow; */
}

/* expander button and text*/
.st-emotion-cache-16idsys p {
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    
}

.st-emotion-cache-1vbkxwb p {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}
.st-ae {
    font-family: 'Times New Roman', Times, serif;
}

/* text classes */
.centered-text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    /* color: yellow; */
}

[data-testid="stTickBarMax"], [data-testid="stTickBarMin"], [data-testid="stThumbValue"] {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    /* color: yellow; */
}