/* menu on top :right */
/* #MainMenu {visibility: hidden;} */

/* layout */
.st-emotion-cache-1y4p8pa {
    width: 80%;
    /* width: 700px, */
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 2.5rem;
    background-color: #d8d8d8;
    min-width: auto;
    max-width: initial;
    /* max-width: initial; */
}
/* header and footer*/
[tabindex="-1"][data-testid="stHeader"]{
    /* background-color:#DD0065; */
    opacity: 1;
    height: 2.5rem;
    visibility: hidden;
}
footer{
    visibility: hidden;
}

/* navigation bar */
#app {
    font-family: Georgia;
}

/* sidebar width */
[data-testid="stSidebar"][aria-expanded="true"]{
    min-width: 350px; 
    max-width: 350px;
}
/* expander style */
[data-testid="stExpander"]{
    background-color: #dadada;
}
.st-emotion-cache-p5msec {
    background-color: #DD0065;
    color: white;
    height: 2.25rem;
}
[data-testid="stExpanderDetails"]{
    padding: 0.5rem;
}

/* tab */
.stTabs [data-baseweb="tab"] {
    height: 25px;
    width: 75px;
    background-color: #F0F2F6;
    border-radius: 5px 5px 0px 0px;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 0% 0%
}

.leaflet-tile-container.leaflet-zoom-animated {
    margin:5px,
}

/* header and paragraphs */
h1, h2 {
    padding: 2px;
    margin: 2px;
    font-family: Georgia;
    font-size: 1.8rem;
    /* color: blue; */
}
h3, h4 {
    padding: 0;
    margin: 2px;
    margin-top: 10px;
    font-family: Georgia;
    font-size: 1.6rem;
    /* color: red; */
}  
p {
    padding: 2px;
    margin: 2px;
    font-size: 1rem;
    font-family: Georgia;
    text-align: justify;
}

/* text classes */
.centered-text {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
}

[data-testid="stTickBarMax"], [data-testid="stTickBarMin"], [data-testid="stThumbValue"] {
    font-family: Georgia;
    font-size: 0.8rem;
    /* color: green; */
}

.st-c8, .st-bf, .st-c9, .st-ca, .st-cb, .st-bh, .st-cc, .st-cd, .st-ce {
    font-family: Georgia;
    font-size: 1rem;
    /* color: red; */
}